body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

#topNav {
    display: block;
    background-color: azure;
    position: absolute;
    margin: 0px;
    padding: 0px;
    top: 0px;
    width: 100%;
    min-width: 600px;
    height: 60px; 
    box-shadow: -10px 10px 10px 0px black;
}

.changing {
    position: relative;
    overflow: hidden;
    display: inline-block;
    background-color: navy;
    top: 10px;
    margin-left: 17%;
    width: 200px;
    height: 40px;
    border-radius: 10px;
    text-align: center;
    color: white;
}
#topNav a {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 1.4em;
    color: white;
    padding-top: 5px;
    margin: auto;
    text-decoration: none;
}
#topNav a:hover {
    background-color: white;
    color: navy;
    cursor: pointer;
}
#navToggle {
    display: none;
    background-color: azure;
    position: absolute;
    margin: 0px;
    padding: 0px;
    top: 0px;
    width: 70px;
    height: 40px; 
    border-radius: 10px;
    box-shadow: -10px 10px 10px 0px black;
    cursor: pointer;
}
#wrap, #wrap object{
    display: block;
    width: 100%;
    height: 100%;
    margin: auto;
    margin-top: 60px;
    overflow: visible;
}