<!DOCTYPE html>
<html>
    <head>
        <title>Work in progress... constant progress</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">            
        <link type="text/css" rel="stylesheet" href="../styles/css/bootstrap.css">
        <link type="text/css" rel="stylesheet" href="../styles/css/stylesheet2.css"/>
        <script src="../js/jquery-2.1.4.min.js"></script>
        <script src="../js/bootstrap.min.js"></script>
        <script src="../js/carouselScripts.js"></script>
        <script src="../js/hello.js"></script>
    </head>
    <body>
            <!-- Navbar - Navigation bar, in this case with inversed colours -->
            <nav class="navbar navbar-inverse">
                 <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="layout2.html">Tinkering</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                  <ul class="nav navbar-nav">
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Layouts<span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li><a href="layout1.html">Pure CSS/HTML5</a></li>
                        <li><a href="layout2.html">Bootstrap 1</a></li>
                        <li><a href="layout2.html"><s>Something else here</s></a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="layout2.html"><s>Separated link</s></a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="layout2.html"><s>One more separated link</s></a></li>
                      </ul>
                    </li>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><s>Scripts</s><span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li><a href="layout2.html"><s>JS on 'canvas' tag</s></a></li>
                        <li><a href="layout2.html"><s>DOM manipulation</s></a></li>
                        <li><a href="layout2.html"><s>JQuery</s></a></li>
                      </ul>
                    </li>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><s>Media</s><span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li><a href="layout2.html"><s>Audio</s></a></li>
                        <li><a href="layout2.html"><s>Video</s></a></li>
                      </ul>
                    </li>
                  </ul>
                  <form class="navbar-form navbar-right" role="search">
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="Search">
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                  </form>
                  <ul class="nav navbar-nav navbar-right">
                    <li><a href="layout2.html"><s>Link</s></a></li>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><s>Colours</s><span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li><a href="#"><s>first one</s></a></li>
                        <li><a href="#"><s>second on</s></a></li>
                        <li><a href="#"><s>third one</s></a></li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
            </nav>
        <main>    
        <div class="container">
            <!-- Carousel - three items sliding through place beneath the navigation bar -->
            <div id="carousel-demo" class="carousel slide" data-ride="carousel">
               <ol class="carousel-indicators">
                 <li data-target="#carousel-demo" data-slide-to="0" class="active"></li>
                 <li data-target="#carousel-demo" data-slide-to="1"></li>
                 <li data-target="#carousel-demo" data-slide-to="2"></li>
               </ol>
               <div class="carousel-inner">
                 <div class="item active">
                   <canvas id="carousel1" width="1170" height="300">Your browser doesn't support 'canvas' tag.</canvas>
                   <div class="carousel-caption">
                     <h3>Caption Heading One</h3>
                     <p>Caption Text One</p>
                   </div>
                 </div>
                 <div class="item">
                   <canvas id="carousel2" width="1170" height="300">Your browser doesn't support 'canvas' tag.</canvas>
                   <div class="carousel-caption">
                     <h3>Caption Heading Two</h3>
                     <p>Caption Text Two</p>
                   </div>
                 </div>
                 <div class="item">
                   <canvas id="carousel3" width="1170" height="300">Your browser doesn't support 'canvas' tag.</canvas>
                   <div class="carousel-caption">
                     <h3>Caption Heading Three</h3>
                     <p>Caption Text Three</p>
                   </div>
                 </div>
               </div>
               <a class="left carousel-control" href="#carousel-demo" data-slide="prev">
                 <span class="glyphicon glyphicon-chevron-left"></span>
               </a>
               <a class="right carousel-control" href="#carousel-demo" data-slide="next">
                 <span class="glyphicon glyphicon-chevron-right"></span>
               </a>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="well" style="margin-top: 20px">
                        <article id="hello"></article>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">                    
                    <div class="panel-group" id="accordion-sample">
                       <div class="panel panel-default">
                         <div class="panel-heading">
                           <h4 class="panel-title">
                             <a data-toggle="collapse" data-parent="#accordion-sample" href="#accordion-sample-one">
                               Heading One
                             </a>
                           </h4>
                         </div>
                         <div id="accordion-sample-one" class="panel-collapse collapse in">
                           <div class="panel-body">
                             <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                           </div>
                         </div>
                       </div>
                       <div class="panel panel-default">
                         <div class="panel-heading">
                           <h4 class="panel-title">
                             <a data-toggle="collapse" data-parent="#accordion-sample" href="#accordion-sample-two">
                               Heading Two
                             </a>
                           </h4>
                         </div>
                       <div id="accordion-sample-two" class="panel-collapse collapse">
                         <div class="panel-body">
                           <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                         </div>
                       </div>
                    </div>
                        <div class="panel panel-default">
                             <div class="panel-heading">
                               <h4 class="panel-title">
                                 <a data-toggle="collapse" data-parent="#accordion-sample" href="#accordion-sample-three">
                                   Heading Three
                                 </a>
                               </h4>
                             </div>
                           <div id="accordion-sample-three" class="panel-collapse collapse">
                             <div class="panel-body">
                               <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                             </div>
                           </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">          
                    <h2>Tabs</h2>
                    <!-- Tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                    <li class="active"><a href="#tabs-first" role="tab" data-toggle="tab">First</a></li>
                    <li><a href="#tabs-second" role="tab" data-toggle="tab">Second</a></li>
                    </ul>
                    <!-- Tab Content -->
                    <div class="tab-content">
                    <div class="active tab-pane fade in" id="tabs-first">
                    <h2>First</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                    <div class="tab-pane fade" id="tabs-second">
                    <h2>Second</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                             
                    </div>
                    </div>
                </div>
            </div>
        </div>
        </main>    
        <div class="container">
            <footer class="well">
                <p>Copyright Krzysztof Bielawski &copy; 2015-... - All rigths reserved, unless you bribe me with food that is... also => <a href="https://github.com/Terreos/tinkering" target="_parent">Tinkering on GitHub</a></p>
            </footer>
        </div>
    </body>
</html>
