<!DOCTYPE html>
<html>
    <head>
        <title>Work in progress... constant progress</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <link type="text/css" rel="stylesheet" href="../styles/css/a4page.css"/>
        <script src="../js/jquery-2.1.4.min.js" id="jquery"></script>
    </head>
    <body>
        <div class="wrapper">
            <div class="a4" contenteditable="true" spellcheck="true">
                
            </div>
        </div>
    </body>
</html>