<!DOCTYPE html>
<html>
    <head>
        <title>Work in progress... constant progress</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <link type="text/css" rel="stylesheet" href="../styles/css/bootstrap.css">
        <link type="text/css" rel="stylesheet" href="../styles/css/a4page.css"/>
        <script src="../js/jquery-2.1.4.min.js"></script>
        <script src="../js/textEditor.js"></script>
    </head>
    <body>
       
            <div class="a4" contenteditable spellcheck="true">

            </div>
            <div class="toolbar tbtop">
                <span class="glyphicon glyphicon-share-alt"></span>
                <span class="glyphicon glyphicon-arrow-left"></span>
                <span class="glyphicon glyphicon-arrow-right"></span>
                <span class="glyphicon glyphicon-align-left"></span>
                <span class="glyphicon glyphicon-align-center"></span>
                <span class="glyphicon glyphicon-align-right"></span>
                <span class="glyphicon glyphicon-align-justify"></span>
                <span class="glyphicon glyphicon-indent-left"></span>
                <span class="glyphicon glyphicon-indent-right"></span>
                <span class="glyphicon glyphicon-list"></span>
            </div>
            <div class="toolbar tbleft">
                <span class="glyphicon glyphicon-font"></span>
                <span class="glyphicon glyphicon-bold"></span>
                <span class="glyphicon glyphicon-italic"></span>
                <span class="glyphicon glyphicon-text-height"></span>
                <span class="glyphicon glyphicon-text-width"></span>
                <span class="glyphicon glyphicon-text-size"></span>
                <span class="glyphicon glyphicon-text-color"></span>
                <span class="glyphicon glyphicon-text-background"></span>
            </div>
            <div class="toolbar tbright">
                <span class="glyphicon glyphicon-search"></span>
                <span class="glyphicon glyphicon-save"></span>
                <span class="glyphicon glyphicon-picture"></span>
                <span class="glyphicon glyphicon-move"></span> 
                <span class="glyphicon glyphicon-resize-full"></span>
                <span class="glyphicon glyphicon-resize-small"></span>
                <span class="glyphicon glyphicon-object-align-left"></span>
                <span class="glyphicon glyphicon-object-align-vertical"></span>
                <span class="glyphicon glyphicon-object-align-right"></span>
            </div>
                   
    </body>
</html>