body {
    background-color: lightsteelblue;
    font-size: 15px;
    margin: 0px;
    padding: 0px;
}
$max-width: 1654px;
$max-height: 2339px;
$min-width: 595px;
$min-height: 842px;
$scale: 0.1em;

@function calc-em($target-px) {
  @return ($target-px/1px) * $scale;
}

$width: calc-em($min-width);
$height: calc-em($min-height);

$margin-vertical: 2em;
$margin-horizontal: 1.5em;

.a4{
    display: block;
    overflow: hidden;
    background-color: white;
    margin: 100px auto;
    box-shadow: 2px 2px 10px #444;
    padding: $margin-vertical $margin-horizontal;
    width: $width;
    height: $height;
}

.toolbar {
    position: fixed;
    background-color: steelblue;
    margin: 0px;
    padding: 0px;
}

.tbtop {
    top: 0px;
    margin-left: 50%;
    height: 50px;
    width: 496px;
    left: -243px;
    border-bottom-style: groove;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.tbleft, .tbright {
    top: 100px;
    width: 50px;
    height: auto;
}

.tbleft {
    left: 0px;
    border-right-style: groove;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.tbright {
    right: 0px;
    border-left-style: groove;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.glyphicon {
    font-size: 30px;
    margin: 0px;
    background-color: whitesmoke;
    border-style: outset;
    padding: 5px;
    border-radius: 5px;
}

.glyphicon:hover {
    background-color: navy;
    cursor: pointer;
}
.glyphicon:active {
    border-style: inset;
}

textarea {
    width: 100%;
    height: 100%;
}

::-moz-selection {
    background: navy;
    color: white;
}

::selection {
    background: navy;
    color: white;
}